<ul class="posts no-list-style">
  <% @posts.each do |post| %>
    <li>
      <%= render 'post', post: post, comments_hidden: true %>
      <!--<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <%= link_to post do %>
        <h2><%= post.heading %></h2>
      <% end %>
      <p class="indent">By <%= link_to post.user.name, post.user %></p>-->
    </li>
  <% end %>
</ul>

<% if current_user.author %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
